{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <section class="log-in__section">
    <v-card class="common-card log-in__card">
        <h1 class="mb-6 text-center">{% trans "Log in" %}</h1>
        <p class="text-center text"><p>Для запуска измерений необходимо <a href="{% url "register" %}">зарегистрироваться</a></p></p>
        <p class="text-center text"><p>Вернуться на <a href="{% url "main" %}">главную страницу</a></p></p>
        {{ form.non_field_errors }}
         <form id="loginForm" method="POST" class="log-in__form">
            {% csrf_token %}
             <div class="common-input__wrapper">
                 <label class="common-input__label">{{ form.username.label }}</label>
                 {{ form.username }}
             </div>
             {{ form.username.errors }}
             <div class="common-input__wrapper">
                 <label class="common-input__label">{{ form.password.label }}</label>
                 {{ form.password }}
             </div>
             {{ form.password.errors }}
                <v-btn
                        color="blue-accent-3"
                        size="large"
                        type="submit"
                        block
                >
                {% trans "Log in" %}
                </v-btn>
            </form>
    </v-card>
    </section>
{% endblock %}