{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <section class="log-in__section">
    <v-card class="common-card log-in__card">
        <h1 class="mb-6 text-center">{% trans "Sign up" %}</h1>
        {{ form.non_field_errors }}
         <form method="POST" class="log-in__form">
            {% csrf_token %}
            <div class="common-input__wrapper">
                <label class="common-input__label">{{ form.username.label }}</label>
                {{ form.username }}
            </div>
            {{ form.username.errors }}
            <div class="common-input__wrapper">
                <label class="common-input__label">{{ form.email.label }}</label>
                {{ form.email }}
            </div>
            {{ form.email.errors }}
           <div class="common-input__wrapper">
                <label class="common-input__label">{{ form.password1.label }}</label>
                {{ form.password1 }}
            </div>
            {{ form.password1.errors }}
            <div class="common-input__wrapper">
                <label class="common-input__label">{{ form.password2.label }}</label>
                {{ form.password2 }}
            </div>
            {{ form.password2.errors }}
                <v-btn
                        color="blue-accent-3"
                        size="large"
                        type="submit"
                        block
                >
                {% trans "Sign up" %}
                </v-btn>
            </form>
    </v-card>
    </section>
{% endblock %}